body {
    margin: 0;
    padding: 0;
    font-family: "Helvetica", sans-serif;
    background-color: grey;
}

#topContainer {
    height: 200px;
    text-align: center;
    
    font-size: xx-large;
    border: 30px white;
    background-color: chocolate;
}

#intro {
    text-align: center;
    line-height: 150px;
}


.circle {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: aqua;
    position: absolute;
    
    top: 50%;
    bottom: 50%;
    left: 50%;
    right: 50%;
    margin: -25px 0 0 -25px;
    
    

}
.circle-text {
    position: absolute;
    bottom: 50%;
    width: 100%;
    text-align: center;
}

.genreHeader {
    background: greenyellow;
}
#horrorHeader {
    position: absolute;
    left: 5%;
    right: 95%;
    


}

#familyHeader {
    position: absolute;
    left: 35%;
    right: 65%;
    
}
#comedyHeader {
    position: absolute;
    left: 60%;
    right: 40%;
    
}
#sci-fiHeader {
    position: absolute;
    left: 90%;
    right: 10%;
    
}